{% extends "base.html" %}
{% block title %}Список кандидатов{% endblock %}

{% block content %}
<div class="container">
  <div class="h2"> Список кандидатов</div>
  <br>
  {% for user in page %}
  <div class="card mb-3 mt-1 shadow-sm">
    <div class="card-body">
      <p class="card-text">
        <a class="p text-dark" href="{% url 'profile' user.username %}"><strong
            class="d-block text-gray-dark">{{ user.get_full_name }}</strong></a>
      </p>
      {% regroup user.skills.all by tag as grouped_skills %}
      <ul>
        {% for group in grouped_skills %}
        <li>{{ group.grouper }}
          <ul>
            {% for skill in group.list %}
            <li>{{ skill.name }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if not forloop.last %}
  <hr>{% endif %}
  {% endfor %}
  {% include "paginator.html" %}
  {% endblock %}
</div>
