<nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{% url 'index' %}"><span style="color:rgb(255, 255, 255)">candidate list</a>
  <nav class="my-2 my-md-0 mr-md-3">
    {% if user.is_authenticated %}
    <a class="p-2 text-light" href="{% url 'profile' user.username %}">Ваш профиль</a>
    <a class="p-2 text-light" href="{% url 'password_change' %}">Изменить пароль</a>
    <a class="p-2 text-light" href="{% url 'logout' %}">Выйти</a>
    {% else %}
    <a class="p-2 text-light" href="{% url 'login' %}">Войти</a> |
    <a class="p-2 text-light" href="{% url 'signup' %}">Регистрация</a>
    {% endif %}
  </nav>
</nav>
