{% extends "base.html" %}
{% block title %}{{ request.user}}{% endblock %}
{% block content %}
{% load user_filters %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">Кандидат:</div>
      <div class="card-body">
        <div class="h4">{{ candidate.get_full_name }}</div>
        <div class="h5 text-muted"> {{ candidate.username}} </div>
        <br>
        Навыки:
        {% regroup skill_list by tag as grouped_skills %}
        <ul>
          {% for group in grouped_skills %}
          <li>{{ group.grouper }}
            <ul>
              {% for skill in group.list %}
              <li>{{ skill.name }} <a href="/api/delete/{{skill.id}}">x</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
        {% if request.user == candidate %}
        <form method="post">
          {% csrf_token %}
          <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
            <label for="{{ field.id_for_label }}"
              class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span
                class="required">*</span>{% endif %}</label>
            <div class="col-md-6">
              {{ form.as_p }}
            </div>
          </div>
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-secondary btn-sm">
              Добавить навык
            </button>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
